In [37]:
import pandas as pd

In [43]:
from sqlalchemy import create_engine

In [44]:
connection_string = 'postgresql://root:root@localhost:5432/chicago_crime_data'
engine = create_engine(connection_string)

In [45]:
engine.connect()

In [2]:
pd.__version__

'1.5.3'

In [3]:
pwd

'/Users/tofag/Desktop/ReadWrite Assignments'

In [4]:
ls

FBI_data/       Untitled.ipynb  dockerfile      main.py

In [6]:
df = pd.read_csv('FBI_data/extracted_chicago_crime_data.csv')

In [7]:
df

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,fbi_code,year,updated_on
0,13342305,JH120569,2024-01-19T00:00:00.000,095XX S COMMERCIAL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,VEHICLE NON-COMMERCIAL,False,True,431,4,10,51,08B,2024,2024-01-26T15:41:22.000
1,13342257,JH120680,2024-01-19T00:00:00.000,015XX N KINGSBURY ST,0820,THEFT,$500 AND UNDER,OTHER (SPECIFY),False,False,1822,18,27,8,06,2024,2024-01-26T15:41:22.000
2,13343611,JH122327,2024-01-19T00:00:00.000,0000X S STATE ST,0810,THEFT,OVER $500,OTHER (SPECIFY),False,False,112,1,34,32,06,2024,2024-01-26T15:41:22.000
3,13342003,JH120284,2024-01-19T00:00:00.000,054XX W FULLERTON AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,BAR OR TAVERN,False,True,2515,25,31,19,08B,2024,2024-01-26T15:41:22.000
4,13347706,JH127429,2024-01-19T00:00:00.000,014XX S CANAL ST,1220,DECEPTIVE PRACTICE,THEFT OF LOST / MISLAID PROPERTY,COMMERCIAL / BUSINESS OFFICE,False,False,124,1,25,28,11,2024,2024-01-26T15:41:22.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,13343628,JH122329,2024-01-17T03:40:00.000,059XX S WABASH AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,DRIVEWAY - RESIDENTIAL,False,True,232,2,20,40,14,2024,2024-01-25T15:42:27.000
996,13341975,JH119021,2024-01-17T03:30:00.000,050XX W WASHINGTON BLVD,0810,THEFT,OVER $500,VEHICLE - COMMERCIAL,False,False,1533,15,28,25,06,2024,2024-01-25T15:42:27.000
997,13340115,JH117934,2024-01-17T03:26:00.000,064XX S EVANS AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,312,3,20,42,08B,2024,2024-01-25T15:42:27.000
998,13340098,JH117932,2024-01-17T03:22:00.000,041XX N BROADWAY,1310,CRIMINAL DAMAGE,TO PROPERTY,CONVENIENCE STORE,False,False,1915,19,46,3,14,2024,2024-01-25T15:42:27.000
999,13340792,JH117949,2024-01-17T03:21:00.000,056XX N RIDGE AVE,0860,THEFT,RETAIL THEFT,DRUG STORE,False,False,2013,20,48,77,06,2024,2024-01-25T15:42:27.000

In [21]:
print(pd.io.sql.get_schema(df, name='extracted_chicago_crime_data'))

CREATE TABLE "extracted_chicago_crime_data" (
"id" INTEGER,
  "case_number" TEXT,
  "date" TIMESTAMP,
  "block" TEXT,
  "iucr" TEXT,
  "primary_type" TEXT,
  "description" TEXT,
  "location_description" TEXT,
  "arrest" INTEGER,
  "domestic" INTEGER,
  "beat" INTEGER,
  "district" INTEGER,
  "ward" INTEGER,
  "community_area" INTEGER,
  "fbi_code" TEXT,
  "year" INTEGER,
  "updated_on" TEXT
)

In [16]:
df.date=pd.to_datetime(df.date)

In [18]:
df["arrest"] = df["arrest"].astype(bool)
df["domestic"] = df["domestic"].astype(bool)

In [20]:
df.arrest=df["arrest"].astype(bool)

In [22]:
print(df.dtypes)

id                               int64
case_number                     object
date                    datetime64[ns]
block                           object
iucr                            object
primary_type                    object
description                     object
location_description            object
arrest                            bool
domestic                          bool
beat                             int64
district                         int64
ward                             int64
community_area                   int64
fbi_code                        object
year                             int64
updated_on                      object
dtype: object

In [29]:
df_iter = pd.read_csv('FBI_data/extracted_chicago_crime_data.csv', iterator=True, chunksize=10000)

In [32]:
df_iter

In [33]:
df.head(n=0)

Empty DataFrame
Columns: [id, case_number, date, block, iucr, primary_type, description, location_description, arrest, domestic, beat, district, ward, community_area, fbi_code, year, updated_on]
Index: []

In [34]:
df.head(n=0).to_sql(name='chicago_crime_data', con=engine, if_exists='replace')

0

In [46]:
df.to_sql(name='chicago_crime_data', con=engine, if_exists='append')

1000